@mixin grid() {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'overlap';
}

// @mixin hover() {
// 	button:hover {
// 		background: rgb(94, 161, 84)
// 	}
// }

@mixin booking($rows) {
	background-image: url('../images/cabin-in-woods.jpg');
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: $rows;
	height: 200px;
	width: 200px;
}

@mixin test($rows) {
.booking {
		border: grey solid 2px;
		@include booking($rows);
		h3 {
			border-radius: 5px;
			background: white;
			background-size: cover;
			opacity: 60%;
			place-self: center strech;
			text-align: center;
		}
		ul {
			align-self: center;

			@include list();
		} 
		button {
			background: rgb(6,26,27);
			background-size: cover;
			color: rgb(208, 205, 205);
		}
		button:hover {
			background: rgb(101,184,88);
			color: black;
		}
	}
}

@mixin list() {
	background: white;
	background-size: cover;
	margin: 5px;
	opacity: 60%;
	padding: 0;
	align-items: start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
}