@mixin grid() {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'overlap';
}

@mixin button() {
	background: $color3;
	background-size: cover;
	color: rgb(208, 205, 205);
}

@mixin hover() {
	button:hover {
		background: $color5;
		color: black;
	}
}

@mixin booking($rows) {
	background-image: url('../images/cabin-in-woods.jpg');
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: $rows;
}

@mixin bookingDiv($rows ) {
.booking {
		border: $color2;
		@include booking($rows);
		.booking-date {
			border-radius: 5px;
			background: $color2;
			opacity: 90%;
			background-size: cover;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		h3 {
			text-align: center;
		}
		ul {
			align-self: center;
			@include list();
		} 
		button {
		@include button();
		}
		@include hover();
	}
}

@mixin list() {
	background: $color2;
	background-size: cover;
	opacity: 90%;
	align-items: start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
}
