nav {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  background-color: #bbe3f3;
}

* {
  margin: 0px;
}

body {
  height: 100vh;
  width: 100%;
  background: url("../images/trees-background.jpg");
  background-size: cover;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'overlap';
}

body .login {
  height: 400px;
  width: 600px;
  opacity: 80%;
  border-radius: 15px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: overlap;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  place-self: center;
  background: #d6e2d6;
}

body .login section {
  height: 100%;
  width: 100%;
}

body .login section form {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr .5fr 1fr;
      grid-template-rows: 1fr .5fr 1fr;
}

body .login section form div:nth-child(1) {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

body .login section form div:nth-child(2) {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .login section form div:nth-child(3) {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

main .dashboard {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .5fr 1fr;
      grid-template-columns: 1fr .5fr 1fr;
  -ms-grid-rows: 30px .1fr 1fr;
      grid-template-rows: 30px .1fr 1fr;
}

main .dashboard .sidebar {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 3;
      grid-row-end: span 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

main .dashboard .sidebar form {
  border: black solid 2px;
  height: 20vh;
  width: 100%;
}

main .dashboard .sidebar .available-rooms {
  border: black solid 2px;
  height: 80vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  overflow-y: scroll;
}

main .dashboard .sidebar .available-rooms .booking {
  background: #1d1d32;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  width: 200px;
}

main .dashboard .sidebar .available-rooms .booking h3 {
  color: white;
}

main .dashboard .sidebar .available-rooms .booking ul {
  height: 90%;
  width: 90%;
  background: #bbe3f3;
  padding: 0;
  padding-left: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

main .dashboard .current-bookings-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

main .dashboard .bookings-container {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow-y: scroll;
}

main .dashboard .bookings-container .booking {
  background: #1d1d32;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  width: 200px;
}

main .dashboard .bookings-container .booking h3 {
  color: white;
}

main .dashboard .bookings-container .booking ul {
  height: 90%;
  width: 90%;
  background: #bbe3f3;
  padding: 0;
  padding-left: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=styles.css.map */